*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    background-color: blueviolet;
    text-align: center;
    text-transform: capitalize;
    font-size: 30px;
    color: #fff;
    padding: 10px 0;
}
.main-input{
    width: 45%;
    margin:25px auto 0;
    float: left;
    /* margin-top: 25px; */
}
input{
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}
button{
    background-color: tomato;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    text-transform: capitalize;
    font-size: 16px;
}
tr{
    background-color: blueviolet;
}
tr:nth-child(odd){
    background-color: tomato;
}
tr:nth-child(even){
    background-color:blueviolet;
}
th,td{
    /* background-color: blueviolet; */
    padding: 10px 40px;
    font-size: 18px;
}


